<nav class="top-bar foundation-bar" data-topbar>
	<ul class="title-area">
		<li class="name">
			<span data-tooltip class="has-tip">
				<h1>
					<a href="#"><%= app_name %></a>
				</h1>
			</span>
		</li>
	</ul>
	<section class="top-bar-section">
		<!-- Right Nav Section -->
		<ul class="left">
			<li><a href="#">Dashboard</a></li>
		</ul>
	</section>
</nav>

<div class="row">
	<div class="small-12 columns">
		<br>
	</div>
</div>

<div class="row">
	<div class="small-12 columns">
		<div class="row">
			<div class="small-12 columns">
				Dashboard	
			</div>
		</div>
	</div>
</div>


